body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', 'Sans-serif';
	font-size: 20px;

}
header{
	background-color: darkseagreen;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

h1, h2{font-family: 'Gochi Hand', cursive;

}
header h1{
	color: white;
	font-size: 75px;


}
header img{
	border-radius: 85px;
	width: 250px;
	border: 10px solid #FAFAD2;

}
main{
	margin: 0;
	padding: 20px 20px 20px 20px;
	background-color: #FAFAD2;
}

main img{display: block;
	margin: auto;
	width: 100%;


}

h2{
	font-size: 35px;
	color:cadetblue;
	text-align: center;
}

a{color: cadetblue;
}
a:hover{color: white;
	background-color: darkseagreen;}

footer{
	background-color: darkseagreen;
	text-align: center;
	color: white;
	padding-top: 25px;
	padding-bottom: 25px;
}
